/**
    QUESTO FILE CSS RAGGRUPPA CODICE GRAFICO PRESENTE NELLE SEGUENTI VIEW:
    - EndView;
    - WinView;
    - WelcomeView;
    - LeaderboardView
 */

/* Bottoni Primari (Arancioni) */
.primary-button {
    -fx-background-color: linear-gradient(to bottom, #E64A19, #BF360C);
    -fx-border-color: #FFC107;
    -fx-border-width: 2px;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-text-fill: #FFD54F;
    -fx-effect: dropshadow(three-pass-box, #FF5722, 10, 0.4, 0, 0);
    -fx-cursor: hand;
    -fx-font-family: "Georgia";
    -fx-font-weight: bold;
    -fx-font-size: 20px;
}

.primary-button:hover {
    -fx-background-color: linear-gradient(to bottom, #FF5722, #D32F2F);
    -fx-border-color: #FFE082;
    -fx-text-fill: #FFFFFF;
    -fx-effect: dropshadow(three-pass-box, #FF9800, 18, 0.7, 0, 0);
}

/* Bottoni di Gioco - Verde */
.btn-success {
    -fx-background-color: #1b5e20;
    -fx-text-fill: white;
    -fx-border-color: #4caf50;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-padding: 10px;
    -fx-cursor: hand;
    -fx-font-family: "Georgia";
    -fx-font-weight: bold;
}

.btn-success:hover {
    -fx-background-color: #2e7d32;
    -fx-border-color: #81c784;
    -fx-effect: dropshadow(three-pass-box, rgba(76, 175, 80, 0.6), 10, 0, 0, 0);
}

/* Bottoni di Gioco - Rosso */
.btn-danger {
    -fx-background-color: #b71c1c;
    -fx-text-fill: white;
    -fx-border-color: #f44336;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-padding: 10px;
    -fx-cursor: hand;
    -fx-font-family: "Georgia";
    -fx-font-weight: bold;
}

.btn-danger:hover {
    -fx-background-color: #c62828;
    -fx-border-color: #ef5350;
    -fx-effect: dropshadow(three-pass-box, rgba(244, 67, 54, 0.6), 10, 0, 0, 0);
}

/* Riquadri / Banner trasparenti */
.dark-panel {
    -fx-background-color: rgba(20, 18, 15, 0.92);
    -fx-border-color: #B8860B;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.9), 15, 0, 0, 0);
}